body {
  font-family: Open Sans,Arial, Helvetica, sans-serif;
}

.ana {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.sol {
  width: 100%;
  flex: 1;
  background-color: #000000;
  height: 100vh;
}


.sag {
  height: 100%;
  background-color:#1E2429;
}

html {
box-sizing: border-box;
}

*,
*:before,
*:after {
margin: 0;
padding: 0;
color: white;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: var(--body-bg);
font-family: Open Sans,Arial, Helvetica, sans-serif;
}

.chat {
display: flex;
flex-flow: column wrap;
justify-content: space-between;
width: 100%;
height: calc(100%);
border-radius: 5px;
background: var(--chat-bg);
box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.menu {
display: flex;
justify-content: space-between;
padding: 15px;

background: #333;
color: #666;
}

.mesajlar {
flex: 1;
overflow-y: auto;
padding: 10px;
}
*::-webkit-scrollbar {
width: 6px;
}
*::-webkit-scrollbar-track {
background: #ddd;
}
*::-webkit-scrollbar-thumb {
background: rgb(48, 47, 47);
}

.inputlar {
display: flex;
padding: 10px;
background: #666;
}
.inputlar * {
padding: 10px;
border: none;
border-radius: 3px;
font-size: 1em;
}
.mesaj-input {
flex: 1;
background: #ddd;
}
.gonder-input {
margin-left: 10px;
background:#333;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: background 0.23s;
}
.gonder-input:hover {
background: rgb(0, 0, 0);
}

.mesajlar {
background-color: #555;
}


input,button{
outline: none;
}

input{
color: #000;
}















.mesajkutusu {

background-color: #807b7b;
border-radius: 5px;
padding: 10px;
margin: 10px 0;
}

.koyu {

background-color: rgb(71, 68, 68);
}

.mesajkutusu::after {
content: "";
clear: both;
display: table;
}


.saat-sag {
float: right;
color: #aaa;
}

.saat-sol {
float: left;
color: #999;
}

.chatad-sol{

color: rgb(0, 0, 0);
}


.chatad-sag{
float: right;
color: rgb(0, 0, 0);
}


#mesajlar{
overflow: auto;
}

.canlivideo{
  outline: none;
}




#menuLinkler {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.cikis{
	color: red;
	
}
#menuLinkler .cikis:hover {
  background-color: red;
  color: rgb(0, 0, 0);
}

a {
  float: left;
  color: rgb(21, 180, 88);
  padding: 0px 10px;
  text-decoration: none;

}

#menuLinkler a.icon {
  float: right;
}

#menuLinkler a:hover {
  background-color: rgb(21, 180, 88);
  color: rgb(0, 0, 0);
}
.menu-ikon{
  cursor: pointer;
}








/* not div css */

#not-div {
  position: absolute;
  z-index: 9;
  background-color: #666;
  display: none;
  width: 200px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#not-div-ust {
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #222;
  color: #fff;
  border: none;

}

.txtArea {
  width: 100%;
  margin: 5px 0 10px 0;
  border: none;
  background: #ddd;
  resize: none;
  min-height: 180px;
  color: black;
}

.txtArea:focus {
  background-color: #c7c7c7;
  outline: none;
}

.form-div {
  padding: 10px;
}

.btnKaydet {
  background-color: #24c029;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.btnKaydet:hover {
  background-color: #127415;
}



@media only screen and (max-width: 768px) {
 .ana {
    flex-direction: column;
 }
 .sol {
    height: 30%;
 }
 .sag {
    height: 70%;
 }
}